streamlit==1.35.0
transformers==4.52.4
torch==2.2.2
torchaudio==2.2.2
numpy==1.26.4
soundfile==0.13.1
librosa==0.11.0
scikit-learn==1.7.0
matplotlib==3.10.3
pandas==2.2.2
tqdm==4.67.1
requests==2.32.4
huggingface-hub==0.33.0
sentencepiece
packaging==24.0
